.vs/MultiReadTiff/v16/ipch/AutoPCH/5343806e5e2cc403/MULTIREADTIFF.ipch
.vs/MultiReadTiff/v16/ipch/AutoPCH/57c2e161d2196113/MULTIREADTIFF.ipch
.vs/MultiReadTiff/v16/ipch/AutoPCH/274fd8e1a58731ed/MAIN.ipch
.vs/MultiReadTiff/v16/ipch/AutoPCH/6496a278155821d0/MAIN.ipch
.vs/MultiReadTiff/v16/ipch/AutoPCH/7d4826746986bc80/MAIN.ipch
.vs/MultiReadTiff/v16/ipch/AutoPCH/e1b4c4ae38e81190/MULTIREADTIFF.ipch
.vs/MultiReadTiff/v16/Browse.VC.db
.vs/MultiReadTiff/v16/Browse.VC.opendb
